---
layout: hero
title : Reduce pain after surgery using acupuncture; provided at home. | Orange County, CA 
subtitle : Peri-Operative Care & Holistic Healing
header-image : index-bg-image
transparent : navbar-transparent navbar-color-on-scroll
description : Operation Acupuncture is a mobile practice bringing healing to coastal Orange County, CA! Whether it be your home or office, we can accommodate all your needs.
---

<div class="main main-raised">
    <div class="container">
        <div class="row">
            <div class="section-text text-left col-lg-6 col-md-12">
                <div style="margin-bottom: 24px"><h1>Alleviate, Rejuvenate, Heal</h1></div>
                <p style="margin:15px , 0, 15px">Acupuncture is a centuries-old proven form of medical treatment that has advanced into a complete integrative health care system that helps bridge the gap between traditional methods and contemporary healing systems of medicine. Practitioners of acupuncture and Chinese medicine have used this non-invasive healing method to help support health and wellness around the world. Acupuncture promotes holistic healing by utilizing the body’s endogenous pharmacy, which can fortify immunity, support physical and emotional health, and bring our bodies back to a state of balance and homeostasis. There are no side-effects, it is essentially painless, and can be an effective alternative to prescription drugs and narcotics.</p>
                <div style="margin-top: 24px">
                    <a class="btn btn-primary btn-raised" href={{ "support/acupuncture-faq.html" | relative_url }}>
                        Questions About Acupunture 
                    </a>
                </div>
            </div>
            <div class="section col-lg-6 col-md-12">
                <img src="assets/img/acu-needles.jpg" alt="Acupuncture needles" class="img-raised rounded img-fluid">
            </div>
        </div>
        <div class="row rounded-top-card" style="padding-top: 50px;background-color: #f5f5f5;">
            <div class="col-lg-12 col-md-12" style="">
                <h1 style="text-align: center">Get Acupuncture at Home</h1>
                <p style=" margin-left: auto; margin-right: auto;  text-align: center; max-width: 600px">Operation Acupuncture is a completely mobile practice, bringing healing to your place of comfort!
                    Whether it be your home or office, or if you're visiting from out of town, we can accommodate any and
                    all needs. Operation Acupuncture will provide:</p>
            </div>
        </div>
         <div class="row" style="padding-top: 50px;background-color: #f5f5f5;">
             <div class="col-lg-4 col-md-4 col-sm-6" >
                 {% include service-card.html 
                    serviceName= "Post Op Acupuncture"
                    img="assets/img/acu-needles.jpg" 
                    alt="acu needles"
                 %}
             </div>
             <div class="col-lg-4 col-md-4 col-sm-6" >
                 {% include service-card.html 
                    serviceName= "Comprehensive Health Assessments"
                    img="assets/img/acu-needles.jpg" 
                    alt="acu needles"
                 %}
             </div>
             <div class="col-lg-4 col-md-4 col-sm-6" >
                 {% include service-card.html 
                    serviceName= "Integrative Acupuncture"
                    img="assets/img/acu-needles.jpg" 
                    alt="acu needles"
                 %}
             </div>
             <div class="col-lg-4 col-md-4 col-sm-6" >
                 {% include service-card.html 
                    serviceName= "Herbal Consulations"
                    img="assets/img/herbal-medicine.jpg" 
                    alt="acu needles"
                 %}
             </div>
             <div class="col-lg-4 col-md-4 col-sm-6" >
                 {% include service-card.html 
                    serviceName= "Electrial-Stimulation"
                    img="assets/img/acu-needles.jpg" 
                    alt="acu needles"
                 %}
             </div>
             <div class="col-lg-4 col-md-4 col-sm-6" >
                 {% include service-card.html 
                    serviceName= "Cupping"
                    img="assets/img/acu-needles.jpg" 
                    alt="acu needles"
                 %}
             </div>
             
        </div>
    </div>
</div>
 